@charset "UTF-8";

.q7_center {
  display: flex;
  justify-content: center;
}

.q7_icon {
  padding-top: 80px;
}

.q7_text {
  border: 5px #222 solid;
  border-radius: 30px;
  margin-left: 35px;
  padding: 20px;
  position: relative;
  width: 510px;
}

.q7_text::before, .q7_text::after {
  border: 20px solid transparent;
  bottom: 25px;
  content: "";
  height: 0;
  position: absolute;
  width: 0;
}

.q7_text::before {
  border-right-color: #222;
  left: -45px;
}

.q7_text::after {
  border-right-color: #fff;
  left: -38px;
}

.q7_text p {
  font-size: 16px;
}