@charset "UTF-8";

.table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
}

.table thead th, .table tbody th {
  background-color: #2244aa;
  color: white;
  font-size: 18px;
  line-height: 26px;
  padding: 10px;
  border: solid 1px white;
}

.table tbody td {
  font-size: 16px;
  line-height: 22px;
  padding: 10px;
  border: solid 1px #dedede;
}

.table tr:nth-child(even) td {
  background-color: #ecf1f2;
}

.table tbody tr:last-child{
  border-top: dashed 2px #000;
}

/* q2が終わったら
q3のcssはq3フォルダの中のcssファイルに記述してください */